html {
    font-family: arial;
}

table {
    border-collapse: separate;
    border-spacing: 10px 1px;
}

.jumbotron {
	background-color: white;
}

.ptNavBar {
    background-color: #00539b !important;
}

.ptNavBar a {
    color: white !important;
    border-bottom: 20px !important;
}

#sidebar {
    background-color: #e7e7e7;
    border-radius: 10px;
    padding: 10px;
}

#sidebar label {
    font-weight: bold;
}

.LTM,
.restructured {
    text-align: left;
}

.percentLTM.colorCells {
    background-color: #e2efda;
}

.LTM.colorCells {
    background-color: #e2efda;
}

.restructured.colorCells {
    background-color: #ddebf7;
}

.percentRestructured.colorCells {
    background-color: #ddebf7;
}

.tableHeader {
    background-color: #00539b;
    color: white;
}

.fieldNames {
    text-indent: 15px;
}

td.singleUnderline {
    border-bottom: 3px !important;
    border-color: black !important;
}

.table.no-border tr td,
.table.no-border tr th {
    border-color: white;
}

.yellowRowCells {
    background-color: #ffffcc;
}

.boldText {
    font-weight: bold;
    text-indent: 40px;
}

.tableHeader {
    width: 20%;
    margin-right: 10px;
}

#unitNote {
    font-style: italic;
    font-size: 14px;
    background-color: white;
    color: black;
}

#percentAssetsHeaderLTM,
#percentAssetsRestructuredHeader {
    font-style: italic;
    font-size: 18px;
    background-color: white;
    color: black;
}

td.dblUnderlined {
    border-bottom: 3px double !important;
    border-color: black !important;
}

.midLine {
    font-weight: bold;
}

.yield {
    background-color: #f8cbad;
    text-align: center;
    font-weight: bold;
}

.boldOnly {
    font-weight: bold;
}